:root {
  /* 基础颜色 */
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: rgb(244, 244, 244);
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  /* 常见颜色 */
  --blue: #409eff;
  --red: #f56c6c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  /* 主题色 */
  --theme-color: var(--el-color-primary);
  /* 提示色 */
  --primary: var(--el-color-primary);
  --secondary: var(--gray-600);
  --success: var(--green);
  --warning: var(--yellow);
  --danger: var(--red);
  --light: var(--gray-100);
  --dark: var(--gray-800);
  /* 字体 */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-ex: 24px;
  --font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  /* 圆角 */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-base: 5px;
  --border-radius: 5px;
  --border-radius-bg: 10px;
  --border-radius-lg: 15px;
  --border-radius-round: 50%;
  /* 阴影 */
  --box-shadow-sm: 0 0 4px rgba(0, 0, 0, 0.1);
  --box-shadow-base: 0 0 8px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --box-shadow-bg: 0 0 16px rgba(0, 0, 0, 0.1);
  --el-transition-duration: 0;
  /* element-plus样式替换 */
  --el-color-primary: #5a87c7;
  --el-color-primary-light-1: color-mix(in srgb, var(--el-color-primary) 90%, white);
  --el-color-primary-light-2: color-mix(in srgb, var(--el-color-primary) 80%, white);
  --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 70%, white);
  --el-color-primary-light-4: color-mix(in srgb, var(--el-color-primary) 60%, white);
  --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 50%, white);
  

}

/* 颜色工具类 */
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.success {
  color: var(--success);
}

.info {
  color: #17a2b8;
}

.warning {
  color: var(--warning);
}

.danger {
  color: var(--danger);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
}

.theme-color {
  color: var(--theme-color);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

.gray-700 {
  color: var(--gray-700);
}

.gray-800 {
  color: var(--gray-800);
}
