/* 文字工具类 */
.text-underline {
  text-decoration: underline;
}

.text-ellipsis {
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

/* 定位工具类 */
.p-relative {
  position: relative;
}

/* 光标工具类 */
.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/* 阴影工具类 */
.box-shadow {
  box-shadow: var(--shadow-md) 0px 0px 8px 0px;
}

/* 间距工具类 */
.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.ml-5 {
  margin-left: 25px;
}

.pl-5 {
  padding-left: 25px;
}

.mr-5 {
  margin-right: 25px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 字体大小工具类 */
.f-base {
  font-size: 16px;
}

.f-mid {
  font-size: 15px;
}

.f-sm {
  font-size: 14px;
}

.f-xs {
  font-size: 12px;
}

.f-bg {
  font-size: 20px;
}

.f-lg {
  font-size: 21.6px;
}

.f-ex {
  font-size: 32px;
}

/* 布局工具类 */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex.j-center {
  justify-content: center;
}

.d-flex.j-end {
  justify-content: flex-end;
}

.d-flex.between {
  justify-content: space-between;
}

.d-flex.j-around {
  justify-content: space-around;
}

.d-flex.j-between {
  justify-content: space-between;
}

.d-flex.a-center {
  align-items: center;
}

.d-flex.center {
  align-items: center;
  justify-content: center;
}

.d-flex.flex-column {
  flex-direction: column;
}

.d-flex.flex-wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.flex0 {
  flex: 0 0 auto;
}

/* 尺寸工具类 */
.h-40px {
  height: 40px;
}

.h-50px {
  height: 50px;
}

.w-100px {
  width: 100px;
}

.w-130px {
  width: 130px;
}

.w-15 {
  width: 15%;
}

.h-150px {
  height: 150px;
}

.w-20 {
  width: 20%;
}

.w-200px {
  width: 200px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.h-300px {
  height: 300px;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-500px {
  width: 500px;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.no-select {
  user-select: none;
}
